<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#goTop"> F&L </a>
    <div class="text-white">
      <button
        class="btn btn-sm btn-outline-light me-1 order-0"
        (click)="showGuestModal()"
      >
        Soy Invitad&#64;
      </button>
    </div>
  </div>
</nav>
<p-dialog
  header="Header"
  [(visible)]="isModalGuestVisible"
  [modal]="true"
  [position]="'topright'"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        <strong>Ingresa tu codigo de invitado</strong>
      </span>
    </div>
  </ng-template>
  <div class="container">
    <div class="row">
      <form
        [formGroup]="formGetGuest"
        (ngSubmit)="onSubmitGuestForm()"
        #formRef="ngForm"
      >
        <div class="col-sm-12">
          <div class="form-group">
            <label for="guestCode">Te hemos enviado un codigo</label>
            <input
              type="text"
              class="form-control"
              id="guestCode"
              formControlName="guestCode"
              placeholder="Ingresalo aqui"
              [ngClass]="{
                'is-invalid':
                  formGetGuest.get('guestCode')?.invalid &&
                  formGetGuest.get('guestCode')?.touched,
                'is-valid': formGetGuest.get('guestCode')?.valid
              }"
            />
          </div>
          <div class="form-group mt-2">
            <label for="guestPlace">¿Para qué evento es tu invitación?</label>
            <select
              class="form-select"
              id="guestPlace"
              formControlName="guestPlace"
              aria-label="Default select example"
              [ngClass]="{
                'is-invalid':
                  formGetGuest.get('guestPlace')?.invalid &&
                  formGetGuest.get('guestPlace')?.touched,
                'is-valid': formGetGuest.get('guestPlace')?.valid
              }"
            >
              <option selected disabled>Selecciona un evento</option>
              <option *ngFor="let event of events" [value]="event.value">
                {{ event.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 text-center mt-2" *ngIf="isError">
          <span class="badge text-bg-danger w-100"
            >Tu código no es válido o no estás invitado.</span
          >
        </div>
      </form>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      [text]="true"
      severity="secondary"
      (onClick)="isModalGuestVisible = false"
    />

    <p-button
      type="button"
      label="Siguiente"
      [outlined]="true"
      severity="secondary"
      (click)="submitGuestForm()"
    />
  </ng-template>
</p-dialog>
