.hidden-button-modal-guest {
  display: none;
}

.custom-modal-border {
  border: 1px solid #ab8d66; /* Gold color for a vintage look */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.custom-input {
  border: 2px solid #ab8d66; /* Gold color for a vintage look */
  color: #ab8d66;
  border-radius: 5px;
  padding: 10px;
  background-color: #101b0d;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-input::placeholder {
  color: #ab8d66; /* Gold color for the placeholder */
  opacity: 1; /* Ensure the placeholder color is fully opaque */
}

.custom-input:focus {
  border-color: #ab8d66;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.custom-input:blur {
  background-color: #101b0d; /* Revert background color when blurred */
  color: #ab8d66; /* Revert text color when blurred */
}

.is-invalid.custom-input {
  border-color: rgb(168, 168, 168) !important;
  color: rgb(168, 168, 168) !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: rgb(168, 168, 168);
  padding-right: calc(1.5em + 0.75rem);
  background-image: none; /* Remove the icon */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.custom-select {
  border: 2px solid #ab8d66; /* Gold color for a vintage look */
  color: #ab8d66;
  border-radius: 5px;
  padding: 10px;
  background-color: #101b0d;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23AB8D66" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658c-.566-.683-.106-1.658.753-1.658h9.592c.86 0 1.32.975.753 1.658l-4.796 5.482a1 1 0 0 1-1.506 0z"/></svg>'); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
}

.custom-select:focus {
  border-color: #ab8d66;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.is-invalid {
  border-color: #dc3545 !important; /* Red color for invalid input */
}

.is-invalid::after {
  content: "✖"; /* Unicode character for a cross mark */
  color: #dc3545; /* Red color for invalid icon */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.is-valid {
  border-color: #ab8d66 !important; /* Green color for valid input */
}

.custom-background {
  background-color: #ffffff; /* White background */
  border-right: 1px solid #ffffff; /* Border only on the right */
  border-bottom: 1px solid #ffffff; /* Border only on the bottom */
  border-bottom-right-radius: 10px; /* Rounded top-right corner */
  padding-bottom: 5px; /* Padding only at the bottom */
  padding-right: 10px; /* Padding only at the right */
  display: inline-block; /* Ensure the background and border wrap the content */
  position: absolute; /* Position the element absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  padding: 10px; /* Margin around the element */
  padding-right: 20px; /* Margin only on the right */
  font-size: 1.5rem;
}
