.hidden-button-modal-guest {
  display: none;
}

.custom-modal-border {
  border: 2px solid #d4af37; /* Gold color for a vintage look */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.custom-input {
  border: 2px solid #d4af37; /* Gold color for a vintage look */
  color: #d4af37;
  border-radius: 5px;
  padding: 10px;
  background-color: #101b0d;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-input::placeholder {
  color: #d4af37; /* Gold color for the placeholder */
  opacity: 1; /* Ensure the placeholder color is fully opaque */
}

.custom-input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.custom-input:blur {
  background-color: #101b0d; /* Revert background color when blurred */
  color: #d4af37; /* Revert text color when blurred */
}

.custom-select {
  border: 2px solid #d4af37; /* Gold color for a vintage look */
  color: #d4af37;
  border-radius: 5px;
  padding: 10px;
  background-color: #101b0d;
  transition: border-color 0.3s, box-shadow 0.3s;
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23d4af37" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658c-.566-.683-.106-1.658.753-1.658h9.592c.86 0 1.32.975.753 1.658l-4.796 5.482a1 1 0 0 1-1.506 0z"/></svg>'); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
}

.custom-select:focus {
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.is-invalid {
  border-color: #dc3545 !important; /* Red color for invalid input */
}

.is-invalid::after {
  content: "✖"; /* Unicode character for a cross mark */
  color: #dc3545; /* Red color for invalid icon */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.is-valid {
  border-color: #d4af37 !important; /* Green color for valid input */
}
