<div class="container">
  <form [formGroup]="uploadForm">
    <div class="form-group">
      <div class="mb-3">
        <label for="video" class="form-label"
          ><strong
            >Ingresa un video donde nos compartas un mensaje especial, maximo 30
            segundos (opcional pero sugerido)</strong
          ></label
        >
        <input
          class="form-control"
          type="file"
          type="file"
          id="video"
          (change)="onFileChange($event)"
          formControlName="video"
          accept="video/*"
        />
      </div>
      <span
        *ngIf="
          uploadForm.get('video')?.invalid && uploadForm.get('video')?.touched
        "
        class="badge text-bg-danger"
        >El video es obligatorio</span
      >
    </div>
  </form>
</div>
