<app-loading-mask *ngIf="isloading$ | async"></app-loading-mask>
<app-header [triggerModal]="triggerModalGuest"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container bg-dark"
  id="goTop"
>
  <div class="container-fluid full-height">
    <div class="row">
      <div
        class="col-sm-5 text-center full-height d-flex align-items-center justify-content-center content-container"
      >
        <div class="row text-white">
          <div class="col-12 mb-3">
            <h1 class="animated-title">
              SAVE <span class="full-cursive">the</span> DATE
            </h1>
          </div>
          <div class="col-12">
            <h3 class="animated-title display-3 text-primary full-cursive">
              Felix & Leslie
            </h3>
          </div>
          <div class="col-12 mb-3">
            <small class="animated-title display-date">
              15.03.2025 | Zapopan, Jal.
            </small>
          </div>
          <div class="col-12">
            <button
              class="btn btn-outline-light animated-button"
              (click)="openModalGuest()"
            >
              Confirma tu asistencia
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-7 bg-main full-height">
        <img
          src="https://garbrix.com/boda/assets/images/main.jpg"
          style="width: 100%; height: 100%; object-fit: cover"
        />
      </div>
    </div>
  </div>
</section>
<section id="target-element" class="bg-light text-primary" #discoverMore>
  <div class="container py-5">
    <div class="row mt-5 text-center">
      <div class="col-sm-12">
        <h3 class="mb-4">¡ESTAMOS MUY EMOCIONADOS DE CELEBRAR JUNTOS !</h3>
        <hr class="custom-hr w-75 mx-auto" />
      </div>
    </div>
    <div class="row mt-3 mb-2">
      <div class="col-sm-12">
        <div class="card bg-light m-1">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h4 class="text-dark">Boda Civil</h4>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-sm-12 text-center">
                  <app-timer-clock
                    [startDate]="mainImagesVideos.startTime"
                    [endDate]="mainImagesVideos.civilMarriage"
                  ></app-timer-clock>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container py-3">
    <div class="row mb-5 text-center">
      <div class="col-sm-12 text-primary">
        <h3 class="mb-4">LA PROPUESTA</h3>
        <hr class="custom-hr small-width mx-auto" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-gallery-carousel
          [images]="mainImagesVideos.mainSection"
        ></app-gallery-carousel>
      </div>
    </div>
  </div>
</section>
<section id="target-element">
  <div class="container-fluid bg-dark text-white pt-5">
    <div class="row text-center">
      <div class="col-sm-12 mb-5">
        <h2>NUESTRA GRAN HISTORIA DE AMOR</h2>
        <hr class="text-white w-50 mx-auto" />
      </div>
    </div>
    <div class="row">
      <div
        *ngIf="isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
        [ngClass]="{ 'pb-4': isMobile }"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h3 class="text-primary">EL DIA QUE NOS CONOCIMOS</h3>
            </div>
            <div class="col-sm-12">
              <h6><strong>Sabado, 25 de Noviembre 2021</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3">
            <div class="col-sm-12">
              <span class="our-story-font">
                Todo comenzó en la boda de nuestros amigos Bety y Marco. Nos
                sentaron en la mesa de los solteros y, de repente, mis ojos se
                encontraron con los de Félix. Comenzamos a hablar, primero entre
                risas, luego con una conexión que no pude ignorar. En cuestión
                de minutos, estábamos bailando juntos, como si el mundo a
                nuestro alrededor desapareciera. Intercambiamos números y, como
                si todo fuera un destino, quedamos en vernos en los días que
                seguirían.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <img
          src="https://garbrix.com/boda/assets/images/Screenshot%202025-01-13%20at%204.37.12%E2%80%AFp.m..png"
          alt="Full Height Full Width Image"
          class="full-image"
          [ngClass]="{ 'pb-4': isMobile }"
        />
      </div>
      <div
        *ngIf="!isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h3 class="text-primary">EL DIA QUE NOS CONOCIMOS</h3>
            </div>
            <div class="col-sm-12">
              <h6><strong>Sabado, 25 de Noviembre 2021</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3">
            <div class="col-sm-12">
              <span class="our-story-font">
                Todo comenzó en la boda de nuestros amigos Bety y Marco. Nos
                sentaron en la mesa de los solteros y, de repente, mis ojos se
                encontraron con los de Félix. Comenzamos a hablar, primero entre
                risas, luego con una conexión que no pude ignorar. En cuestión
                de minutos, estábamos bailando juntos, como si el mundo a
                nuestro alrededor desapareciera. Intercambiamos números y, como
                si todo fuera un destino, quedamos en vernos en los días que
                seguirían.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h3 class="text-primary">SOMOS NOVIOS</h3>
            </div>
            <div class="col-sm-12">
              <h6><strong>Sabado, 13 de Marzo 2022</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3" [ngClass]="{ 'pb-4': isMobile }">
            <div class="col-sm-12">
              <span class="our-story-font">
                Quedamos en salir, ya que uno de los mejores amigos de Félix
                estaba en la ciudad y el plan era volar drones en Bugambilias.
                Mientras estábamos en eso, Félix sacó una cartulina y, nervioso,
                me preguntó si quería ser su novia, acompañado de unas flores.
                Sin dudarlo, respondí con un rotundo '¡sí!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <img
          src="https://garbrix.com/boda/assets/images/Screenshot%202025-01-13%20at%203.34.53%E2%80%AFp.m..png"
          alt="Full Height Full Width Image"
          class="full-image"
          [ngClass]="{ 'pb-4': isMobile }"
        />
      </div>
    </div>
    <div class="row">
      <div
        *ngIf="isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
        [ngClass]="{ 'pb-4': isMobile }"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h5 class="text-primary">LA PROPUESTA</h5>
            </div>
            <div class="col-sm-12">
              <h6><strong>Lunes, 15 de Julio 2024</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3">
            <div class="col-sm-12">
              <span class="our-story-font">
                En nuestro viaje a Europa, llegamos a Florencia. Habíamos
                decidido tomar un tour por el Ponte Vecchio. Al subirnos a la
                balsa y comenzar el recorrido, la guía nos sugirió tomarnos
                algunas fotos, y fue en ese momento cuando Félix se agachó, sacó
                un anillo y me preguntó, '¿Te quieres casar conmigo?' — ¡Claro
                que sí!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <img
          src="https://garbrix.com/boda/assets/images/Screenshot%202025-01-13%20at%203.36.39%E2%80%AFp.m..png"
          alt="Full Height Full Width Image"
          class="full-image"
          [ngClass]="{ 'pb-4': isMobile }"
        />
      </div>
      <div
        *ngIf="!isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h5 class="text-primary">LA PROPUESTA</h5>
            </div>
            <div class="col-sm-12">
              <h6><strong>Lunes, 15 de Julio 2024</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3">
            <div class="col-sm-12">
              <span class="our-story-font">
                En nuestro viaje a Europa, llegamos a Florencia. Habíamos
                decidido tomar un tour por el Ponte Vecchio. Al subirnos a la
                balsa y comenzar el recorrido, la guía nos sugirió tomarnos
                algunas fotos, y fue en ese momento cuando Félix se agachó, sacó
                un anillo y me preguntó, '¿Te quieres casar conmigo?' — ¡Claro
                que sí!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <div class="container">
          <div class="row text-center">
            <div class="col-sm-12">
              <h5 class="text-primary">NUESTRA BODA CIVIL</h5>
            </div>
            <div class="col-sm-12">
              <h6><strong>Sabado, 15 de Marzo 2025</strong></h6>
            </div>
          </div>
          <div class="row text-center mt-3" [ngClass]="{ 'pb-4': isMobile }">
            <div class="col-sm-12">
              <span class="our-story-font">
                Felices de unir nuestras vidas, rodeados del amor y el apoyo de
                nuestros familiares y amigos.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <img
          src="https://garbrix.com/boda/assets/images/main/88d2f9d0-5521-45f5-9cbc-47036d944054.jpeg"
          alt="Full Height Full Width Image"
          class="full-image"
          [ngClass]="{ 'pb-4': isMobile }"
        />
      </div>
    </div>
    <div class="row">
      <div
        *ngIf="isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
        [ngClass]="{ 'pb-4': isMobile }"
      >
        <div class="row text-center">
          <div class="col-sm-12">
            <h5 class="text-primary">Boda Religiosa</h5>
          </div>
          <div class="col-sm-12">
            <h6>TBD</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <img
          src="https://garbrix.com/boda/assets/images/main/3f9481e2-b0fb-47bd-a222-0d235d47b77f.jpeg"
          alt="Full Height Full Width Image"
          class="full-image"
          [ngClass]="{ 'pb-4': isMobile }"
        />
      </div>
      <div
        *ngIf="!isMobile"
        class="col-sm-6 d-flex justify-content-center align-items-center"
      >
        <div class="row text-center" [ngClass]="{ 'pb-4': isMobile }">
          <div class="col-sm-12">
            <h5 class="text-primary">Boda Religiosa</h5>
          </div>
          <div class="col-sm-12">
            <h6>TBD</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container py-3">
    <div class="row text-center">
      <div class="col-sm-12 my-5">
        <h2 class="text-primary">¡ALGUNOS DE NUESTROS MOMENTOS INCREIBLES!</h2>
        <hr class="custom-hr w-75 mx-auto" />
      </div>
      <div class="col-sm-12">
        <app-gallery [images]="mainImagesVideos.secondarySection"></app-gallery>
      </div>
      <div class="col-sm-12 my-5">
        <h2 class="text-primary">
          Estamos plenamennte felices de poder compartir esta etapa de nuestra
          vida y celebrarlo contigo.
        </h2>
      </div>
      <div class="col-sm-12 mt-3 mb-5">
        <button class="btn btn-dark btn-lg" (click)="openModalGuest()">
          Confirma tu asistencia
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
