<app-loading-mask *ngIf="isloading$ | async"></app-loading-mask>
<section
  class="d-flex justify-content-center align-items-center main-container pt-5 pb-5"
  id="goTop"
>
  <div class="card card-responsive">
    <div class="card-body">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <span class="title_wedding full-cursive">Felix & Lesie</span>
          </div>
        </div>
        <div class="row text-center mb-3" *ngIf="isConfirmed">
          <div class="col-sm-12">
            <h1 class="text-center">
              <span class="text-primary">¡Gracias por tu confirmación!</span>
            </h1>
          </div>
          <div class="col-sm-12 mt-3">
            <img
              [src]="guestInfo.photo"
              alt="confirmed"
              class="img-fluid"
              width="200"
            />
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h5>{{ guestInfo.event_details.label }}</h5>
          </div>
          <div class="col-sm-12">
            <h1 *ngIf="!isTitle">
              {{ getProcessedText(guestInfo.full_name) }}
            </h1>
            <h1 *ngIf="isTitle">{{ getProcessedText(guestInfo.title) }}</h1>
          </div>
          <div class="col-sm-12">
            <span
              ><em>{{ getProcessedText(guestInfo.guest_note) }}</em></span
            >
          </div>
          <div *ngIf="isConfirmation" class="col-sm-12 mt-4">
            <button class="btn btn-outline-dark btn-sm m-1">
              <fa-icon [icon]="faUserTie"></fa-icon>
              Vestimenta: Rigurosa formal
            </button>
          </div>
          <div class="col-sm-12 mt-4">
            <h6 class="m-1">
              <strong>{{ date }}</strong>
            </h6>
          </div>
          <div class="col-sm-12">
            <h6 class="m-1">
              Recepción: <strong>{{ time }}</strong>
            </h6>
          </div>
          <div class="col-sm-12 mt-1">
            <button
              class="btn btn-sm m-1"
              [ngClass]="{
                'btn-primary': isConfirmed,
                'btn-outline-dark': !isConfirmed
              }"
              (click)="onLocationLink()"
            >
              <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              {{ getProcessedText(guestInfo.event_details.place) }}
            </button>

            <button
              class="btn btn-sm btn-primary m-1"
              (click)="onAccomodationPanelToggle()"
              *ngIf="isConfirmed"
            >
              <fa-icon [icon]="faSuitcaseRolling"></fa-icon>
              Recomendaciones de hospedaje
            </button>
          </div>
          <div *ngIf="isConfirmation" class="col-sm-12">
            <small>{{ getProcessedText(addressString) }}</small>
          </div>
        </div>
        <div class="row mt-3" *ngIf="isConfirmed">
          <div class="col-sm-12 text-center">
            <button
              class="btn btn-primary btn-sm"
              (click)="onGiftsPanelToggle()"
            >
              <fa-icon [icon]="faGifts"></fa-icon> Aqui puedes regalar algo
              especial
            </button>
          </div>
        </div>
        <div *ngIf="!isTitle" class="col-sm-12 text-center">
          <div class="mt-5" *ngIf="!isConfirmed">
            <h5>¿Confirmas tu asistencia?</h5>
            <form [formGroup]="formGroupExtraGuest">
              <p-selectButton
                [options]="stateOptions"
                formControlName="valueConfirmation"
                optionLabel="label"
                optionValue="value"
              />
            </form>
          </div>
        </div>
        <div class="col-sm-12 text-center mt-5" *ngIf="!isConfirmed">
          <form [formGroup]="formGroupExtraGuest">
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control mt-2"
                placeholder="Escribe tu correo electrónico"
                formControlName="email"
                [class.is-invalid]="
                  formGroupExtraGuest.get('email')?.invalid &&
                  formGroupExtraGuest.get('email')?.touched
                "
                [class.is-valid]="
                  formGroupExtraGuest.get('email')?.valid &&
                  formGroupExtraGuest.get('email')?.touched
                "
              />
            </div>
            <div class="form-group mb-3">
              <input
                type="tel"
                name="phone"
                class="form-control mt-2"
                placeholder="Escribe tu número de teléfono"
                formControlName="phone"
                [class.is-invalid]="
                  formGroupExtraGuest.get('phone')?.invalid &&
                  formGroupExtraGuest.get('phone')?.touched
                "
                [class.is-valid]="
                  formGroupExtraGuest.get('phone')?.valid &&
                  formGroupExtraGuest.get('phone')?.touched
                "
              />
            </div>
            <app-video-upload
              *ngIf="guestType === 1"
              [uploadForm]="formGroupExtraGuest"
              videoControlName="video"
              [loading]="loading"
              [idUser]="idUser"
              (loadingChange)="onLoadingChange($event)"
              (messageChange)="onMessageChange($event)"
            ></app-video-upload>
          </form>
        </div>
        <div *ngIf="isExtrasGuestVisible" class="col-sm-12 text-center mt-5">
          <h6>
            <strong *ngIf="!isConfirmed"
              >Tu invitación incluye a
              {{
                isTitle
                  ? guestInfo.guest_extras.length + 1
                  : guestInfo.guest_extras.length
              }}
              acompañante(s). ¿Confirmas su asistencia?</strong
            >
            <strong *ngIf="isConfirmed"
              >Tu invitación incluye a
              {{
                isTitle
                  ? guestInfo.guest_extras.length + 1
                  : guestInfo.guest_extras.length
              }}:</strong
            >
          </h6>
        </div>
        <div
          *ngIf="isExtrasGuestVisible"
          class="col-sm-12 text-center mt-3 mb-5"
        >
          <form [formGroup]="formGroupExtraGuest" class="container">
            <div *ngIf="isTitle" class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div [class]="!isConfirmed ? 'col-sm-6' : 'col-sm-12'">
                    <label *ngIf="!isConfirmed" class="form-check-label">
                      {{ getProcessedText(guestInfo.full_name) }}
                    </label>
                    <label
                      *ngIf="isConfirmed && guestInfo.confirmation === 1"
                      class="form-check-label"
                      [for]="'extra-' + guestInfo.id_guest"
                    >
                      {{ getProcessedText(guestInfo.full_name) }}
                    </label>
                  </div>
                  <div class="col-sm-6" *ngIf="!isConfirmed">
                    <button
                      class="btn m-1"
                      [ngClass]="{
                        'btn-primary':
                          formGroupExtraGuest.get(
                            'extra_guest_' + guestInfo.id_guest
                          )?.value === 'yes',
                        'btn-outline-primary':
                          formGroupExtraGuest.get(
                            'extra_guest_' + guestInfo.id_guest
                          )?.value !== 'yes'
                      }"
                      (click)="
                        formGroupExtraGuest
                          .get('extra_guest_' + guestInfo.id_guest)
                          ?.setValue('yes')
                      "
                      [style.boxShadow]="
                        formGroupExtraGuest.get(
                          'extra_guest_' + guestInfo.id_guest
                        )?.value === 'yes'
                          ? '0 0 10px rgba(0, 0, 0, 0.5)'
                          : 'none'
                      "
                    >
                      Sí
                    </button>
                    <button
                      class="btn"
                      [ngClass]="{
                        'btn-dark':
                          formGroupExtraGuest.get(
                            'extra_guest_' + guestInfo.id_guest
                          )?.value === 'no',
                        'btn-outline-dark':
                          formGroupExtraGuest.get(
                            'extra_guest_' + guestInfo.id_guest
                          )?.value !== 'no'
                      }"
                      (click)="
                        formGroupExtraGuest
                          .get('extra_guest_' + guestInfo.id_guest)
                          ?.setValue('no')
                      "
                      [style.boxShadow]="
                        formGroupExtraGuest.get(
                          'extra_guest_' + guestInfo.id_guest
                        )?.value === 'no'
                          ? '0 0 10px rgba(0, 0, 0, 0.5)'
                          : 'none'
                      "
                    >
                      No
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let extra of guestInfo.guest_extras">
              <div class="col-sm-12">
                <div class="row">
                  <div [class]="!isConfirmed ? 'col-sm-6' : 'col-sm-12'">
                    <label
                      *ngIf="!isConfirmed"
                      class="form-check-label"
                      [for]="'extra-' + extra.id_guest_extra"
                    >
                      {{ getProcessedText(extra.full_name) }}
                    </label>
                    <label
                      *ngIf="isConfirmed && extra.confirmation === 1"
                      class="form-check-label"
                      [for]="'extra-' + extra.id_guest_extra"
                    >
                      {{ getProcessedText(extra.full_name) }}
                    </label>
                  </div>
                  <div class="col-sm-6" *ngIf="!isConfirmed">
                    <button
                      class="btn m-1"
                      [ngClass]="{
                        'btn-primary':
                          formGroupExtraGuest.get(
                            'extra_' + extra.id_guest_extra
                          )?.value === 'yes',
                        'btn-outline-primary':
                          formGroupExtraGuest.get(
                            'extra_' + extra.id_guest_extra
                          )?.value !== 'yes'
                      }"
                      (click)="
                        formGroupExtraGuest
                          .get('extra_' + extra.id_guest_extra)
                          ?.setValue('yes')
                      "
                      [style.boxShadow]="
                        formGroupExtraGuest.get('extra_' + extra.id_guest_extra)
                          ?.value === 'yes'
                          ? '0 0 10px rgba(0, 0, 0, 0.5)'
                          : 'none'
                      "
                    >
                      Sí
                    </button>
                    <button
                      class="btn"
                      [ngClass]="{
                        'btn-dark':
                          formGroupExtraGuest.get(
                            'extra_' + extra.id_guest_extra
                          )?.value === 'no',
                        'btn-outline-dark':
                          formGroupExtraGuest.get(
                            'extra_' + extra.id_guest_extra
                          )?.value !== 'no'
                      }"
                      (click)="
                        formGroupExtraGuest
                          .get('extra_' + extra.id_guest_extra)
                          ?.setValue('no')
                      "
                      [style.boxShadow]="
                        formGroupExtraGuest.get('extra_' + extra.id_guest_extra)
                          ?.value === 'no'
                          ? '0 0 10px rgba(0, 0, 0, 0.5)'
                          : 'none'
                      "
                    >
                      No
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 text-center mt-3" *ngIf="!isConfirmed">
          <div class="row mt-3">
            <div class="col-sm-3">
              <button
                class="btn btn-outline-dark w-100 m-1"
                (click)="onCancel()"
              >
                Cancelar
              </button>
            </div>
            <div class="col-sm-9">
              <form
                [formGroup]="formGroupExtraGuest"
                (ngSubmit)="onSubmit()"
                #formRefInvitation="ngForm"
              >
                <button type="submit" class="btn btn-primary w-100 m-1">
                  Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-5" *ngIf="isConfirmed">
        <div class="col-sm-12">
          <button class="btn btn-outline-dark btn-sm" (click)="onCancel()">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<p-sidebar [(visible)]="accomodationPanelVisible" position="right">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Recomendaciones de hospedaje</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let accommodation of accomodationList"
        >
          <div class="row">
            <div class="col-sm-8">
              <span class="h5 mb-2">{{
                getProcessedText(accommodation.title)
              }}</span>
            </div>
            <div class="col-sm-4">
              <a
                [href]="accommodation.address_link"
                target="_blank"
                class="btn btn-sm btn-outline-dark"
              >
                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                Ver más
              </a>
            </div>
          </div>
          <div
            class="row mt-2 mb-1"
            *ngIf="
              accommodation.promo_code && accommodation.promo_code.trim() !== ''
            "
          >
            <div class="col-sm-12">
              Codigo de descuento:
              <strong>
                {{ accommodation.promo_code }}
              </strong>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</p-sidebar>

<p-sidebar [(visible)]="giftsPanelVisible" position="right">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Aqui puedes regalar algo especial</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let gift of giftsList">
          <div class="row">
            <div class="col-sm-12">
              <strong class="h5 mb-2">{{
                getProcessedText(gift.title)
              }}</strong>
            </div>
          </div>
          <div class="row mmt-2 mb-1">
            <div class="col-sm-12">
              <strong [innerHTML]="gift.description"></strong>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</p-sidebar>
