.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep .p-highlight {
  background: #000000;
  border-color: #69680e;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #000000;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.card-responsive {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-responsive {
    width: 90%;
  }
}

@media (min-width: 972px) {
  .card-responsive {
    width: 50%;
  }
}

:host ::ng-deep .p-sidebar-close {
  display: none;
}

:host ::ng-deep .p-sidebar {
  width: 70vw;
  background-color: #ffffff;
  border-left: 1px solid #ffffff;
  border-top-left-radius: 1.375rem;
  border-bottom-left-radius: 1.375rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Add shadow to the left */
}
