.timer-clock {
  font-size: 1.5rem;
  color: #263622;
}

.timer-clock-value {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.animate-change {
  transform: scale(1.1);
}

@media (max-width: 578px) {
  .timer-clock {
    font-size: 0.7rem;
  }

  .timer-clock-value {
    font-size: 1.5rem;
    padding: 4px;
  }
}
